*.env

homebridge/**
!homebridge/
!homebridge/.gitkeep

goaccess/**
!goaccess/
!goaccess/.gitkeep

nginx/**
!nginx/config/
!nginx/config/nginx/
!nginx/config/nginx/site-confs/
!nginx/config/nginx/site-confs/default.conf

!homer/
!homer/.gitkeep

filebrowser/**
!filebrowser/
!filebrowser/.gitkeep

pihole/**
!pihole/
!pihole/.gitkeep

xray/**
!xray/
!xray/.gitkeep

rclone.conf

homeassistant/**
!homeassistant/
!homeassistant/.gitkeep

front_door/**
!front_door/
!front_door/.gitkeep
