[Unit]
Description=RClone Mount Service
Wants=network-online.target
After=network-online.target

[Service]
Type=notify
Environment=RCLONE_CONFIG=/opt/rclone/rclone.conf
KillMode=none
RestartSec=5
ExecStart=/usr/bin/rclone mount wasabi: /opt/mnt \
--allow-other \
--syslog \
--poll-interval 15s \
--umask 002 \
--user-agent cylontoaster \
--rc \
--rc-addr :5572 \
--rc-no-auth \
--cache-dir=/opt/cache \
--vfs-cache-mode full \
--vfs-cache-max-size 10G \
--vfs-read-ahead 256M \
--bwlimit-file 16M
ExecStop=/bin/fusermount -uz /opt/mnt
ExecStartPost=/usr/bin/rclone rc vfs/refresh recursive=true --rc-addr 127.0.0.1:5572 _async=true
Restart=on-failure
User=andrew
Group=andrew

[Install]
WantedBy=multi-user.target
