{
  storage file_system {
    root /opt/caddy/ssl
  }
}

{{ lookup('env', 'CADDY_HOSTNAME') }} {
	tls {
		dns cloudflare {env.CLOUDFLARE_API_TOKEN}
	}
	reverse_proxy localhost:32400
	log {
		output file /opt/caddy/logs/plex.log
		format single_field common_log
	}
}
